<div>
    <div class="row">
      <div class="col-md-12">
        
        {{! Main information of the page }}
        <div class="profile-amounts">
          <h2>Username: {{user.username}}</h2>
          <h2>Overall Rating: {{user.overall}}</h2>
        </div>
        

        <div class="profiles">
          <div class="userBox">
            {{! This is what would go in a card }}
            {{#each user.categories}}
              <p>Category Name: {{name}}</p>
              {{#each ratings}}
                {{! rating for category }}
                {{! rating is the variable amt}}
                <p>Rating: {{rating}}</p>
                {{! comment about the rating }}
                <p>Rating Comment: {{about_rating}}</p>
                <hr class="rounded">
              {{/each}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
</div>

{{#if loggedIn}}
  <form class="rating-form">
    <div>
      <label for="category-name">Category: </label>
      <input type="text" id="category-name" name="category-name" />
    </div>

    <div class="star-rating">
      {{!-- <label for="rating">Rating</label>
      <input type="number" id="rating" name="rating" /> --}}
      <h2>Rating: </h2>
          <div class="star-input">
            <input type="radio" name="rating" value="10" id="rating-5" />
            <label for="rating-5" class="fas fa-star"></label>
            <input type="radio" name="rating" value="8" id="rating-4" />
            <label for="rating-4" class="fas fa-star"></label>
            <input type="radio" name="rating" value="6" id="rating-3" />
            <label for="rating-3" class="fas fa-star"></label>
            <input type="radio" name="rating" value="4" id="rating-2" />
            <label for="rating-2" class="fas fa-star"></label>
            <input type="radio" name="rating" value="2" id="rating-1" />
            <label for="rating-1" class="fas fa-star"></label>
          </div>
        </div>
    </div>

    <div>
      <label for="rating-body">Comment: </label>
      <textarea name="rating-body"></textarea>
    </div>

    <div>
      <button type="submit">Add rating</button>
    </div>
  </form>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/rate.js"></script>
{{/if}}